.about-section {
  display: flex;
  align-items: center;
  justify-content: center;
  /* min-height: 100vh; */
  background-color: var(--bg-primary);
}

.about-content {
  display: flex;
  align-items: center;
  gap: 50px;
}

/* .about-text {
  flex: 1;
} */

.about-text h1 {
  font-size: 48px;
  margin: 0;
}

.about-text h2 {
  font-size: 24px;
  color: var(--accent);
  margin: 10px 0;
}

.about-image {
  flex: 1;
}

.about-image img {
  width: 100%;
  max-width: 400px;
  border-radius: 10px;
}

